:root {
	--bright: #6e9e4d;
	--bright-light: #99c55f;
	--color-button: #6d9d4d;
	--bright-dark: #58803e;
	--body: #fff;
	--text: #494450;
	--light-text: #e6e6e6;
	--transition-duration: 200ms;
	--transition-timing-function: ease-in-out;
	--mark: #f0a751
}

html {
	scroll-behavior: smooth
}

body {
	margin: 0;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
	color: var(--text);
	font-smooth: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%
}

img {
	max-width: 100%
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 0
}

[class$=__wrap] {
	position: relative;
	box-sizing: border-box;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px
}

main {
	position: relative;
	z-index: 1
}

.overflow-hidden {
	overflow: hidden
}

.bright {
	color: var(--bright)
}

[class$=__heading] {
	position: relative;
	z-index: 1;
	margin: 0 0 20px;
	font-weight: 500;
	font-size: 22px;
	line-height: 30px;
	text-align: center
}

.wrap-bright-section {
	margin-bottom: -80px;
	padding-top: 50px;
	padding-bottom: 104px;
	background-image: url(../img/bg-green.svg);
	background-position: center;
	background-size: 1920px 100%
}

.mark,
.wrap-bright-section section {
	color: var(--body);
	background-color: var(--bright)
}

.mark {
	background-color: var(--mark)
}

.mark-color {
	color: var(--mark)
}

::-moz-placeholder {
	color: #a8a8a8
}

::placeholder {
	color: #a8a8a8
}

.header {
	display: block;
	box-shadow: 0 50px 50px rgba(0, 0, 0, .1)
}

.header__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: calc(70px - 16px);
	padding-top: 8px;
	padding-bottom: 8px
}

.logo__link,
.logo__link img {
	display: block
}

.timer {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	background-color: var(--body)
}

.timer p {
	margin: 0
}

.timer__title {
	display: block;
	font-weight: 500;
	font-size: 10px;
	line-height: 18px;
	text-align: center;
	color: var(--text)
}

.timer__items {
	display: flex;
	font-weight: 900;
	font-size: 28px;
	line-height: 18px;
	color: var(--light-text);
	letter-spacing: -3.7px
}

.button,
.timer__end,
.timer__item {
	display: block;
	text-align: center;
	color: var(--bright)
}

.timer__item {
	min-width: 38px;
	letter-spacing: 0
}

.button,
.timer__end {
	font-weight: 900;
	font-size: 10px;
	line-height: 18px
}

.button {
	position: relative;
	display: inline-block;
	padding: 20px 40px;
	font-size: 14px;
	font-family: inherit;
	color: var(--body);
	text-transform: uppercase;
	text-decoration: none;
	background-color: var(--color-button);
	background-image: url(../img/glow.svg);
	background-repeat: no-repeat;
	background-position: -80px center;
	border: 0;
	border-radius: 8px;
	box-shadow: 0 4px 0 var(--bright-light);
	transition: opacity var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), background var(--transition-duration) var(--transition-timing-function);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.button:hover {
	box-shadow: 0 2px 0 var(--bright-light);
	background-position: right -80px center
}

.button:active {
	box-shadow: none
}

.hero {
	overflow: hidden
}

.hero__wrap::after {
	content: "";
	display: block;
	width: 465px;
	height: 376px;
	margin: 0 auto;
	background-image: url(../img/hero/alina.png);
	background-repeat: no-repeat;
	transform: translateX(-45px)
}

.hero__text {
	max-width: 495px;
	margin: 0-10px 5px;
	padding: 10px;
	font-weight: 500;
	font-size: 11px;
	line-height: 16px;
	text-transform: uppercase;
	background-color: var(--light-text);
	border-radius: 9px
}

.hero__title {
	position: relative;
	max-width: 650px;
	margin: 0 0 22px;
	font-weight: 900;
	font-size: 40px;
	line-height: 1;
	color: var(--bright);
	text-transform: uppercase;
	text-shadow: 1px 0 0 var(--bright-light), 0 2px 0 var(--bright-light)
}

.hero__title::before {
	content: "«";
	position: absolute;
	left: -30px;
	color: rgba(0, 0, 0, .15);
	text-shadow: none
}

.hero__title::after {
	content: "»";
	color: rgba(0, 0, 0, .15);
	text-shadow: none
}

.hero__subtitle {
	max-width: 310px;
	margin: 0 0 25px;
	padding-right: 20px;
	padding-left: 50px;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	background-image: url(../img/hero/aplle.svg);
	background-repeat: no-repeat
}

.hero__button {
	position: relative;
	display: block;
	box-sizing: border-box;
	max-width: 320px;
	margin-top: 26px;
	margin-right: -20px;
	margin-left: -50px
}

.hero__button::after {
	content: "";
	position: absolute;
	top: -70px;
	right: -20px;
	width: 28px;
	height: 58px;
	background-image: url(../img/arrow-from-right-to-bottom.svg);
	background-repeat: no-repeat;
	background-size: contain;
	transform: scale(-1, 1)
}

.gift {
	margin-top: -40px;
	padding-right: 10px;
	padding-left: 10px
}

.gift__wrap {
	padding: 20px 20px 0;
	overflow: hidden;
	background-color: #fff;
	background-clip: padding-box;
	border: 10px solid rgba(245, 245, 245, .9);
	border-radius: 28px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .1)
}

.gift__wrap::before {
	content: url(../img/gift/salmon.png);
	position: absolute;
	top: 0;
	right: 0;
}

.gift__article {
	position: relative;
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	min-height: 248px;
	overflow-y: hidden;
}

.gift__article::before {
	content: url(../img/gift/guide.png);
	position: absolute;
	bottom: -5px;
	left: 0;
}

.gift__title {
	margin: 0;
	position: sticky;
	top: 0;
	left: 0;
	order: -1;
	width: 100%;
	font-size: 18px;
	line-height: 24px;
	color: var(--bright);
	font-weight: 500;
}

.gift__content {
	position: relative;
	padding-left: 300px;
	min-width: 300px;
	align-self: stretch;
}

.gift__content::after {
	content: url(../img/gift/fork.png);
	position: absolute;
	bottom: 0;
	right: 0;
}

.gift__suttitle {
	margin-top: 0;
	font-size: 22px;
	line-height: 30px;
}

.gift__suttitle span {
	font-weight: 900;
	font-style: italic;
}

.about__heading {
	margin-top: 12px
}

.about__text {
	position: relative;
	max-width: 390px;
	margin: 0 auto 10px
}

.about__text::before {
	content: url(../img/about/alina.png);
	display: block;
	margin: 0 auto -20px;
	transform: translateX(20px)
}

.about__text p {
	box-sizing: border-box;
	max-width: 350px;
	margin: 0 auto;
	padding: 14px 34px;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .1)
}

.about__text p:not(:last-child) {
	margin-bottom: 20px
}

.about__img-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0 auto
}

.about__imgabout__img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain
}

.about__imgabout__img--slide-1 {
	width: 241px;
	height: 175px;
	background-image: url(../img/about/slide-1.png)
}

.about__imgabout__img--slide-2 {
	width: 158px;
	height: 192px;
	background-image: url(../img/about/slide-2.png)
}

.about__imgabout__img--slide-3 {
	width: 232px;
	height: 134px;
	background-image: url(../img/about/slide-3.png)
}

.if__list-big,
.if__list-small {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px
}

.if__list-small {
	margin-bottom: 30px
}

.if__list-small .if__item {
	width: calc(50% - 10px);
	margin-bottom: 20px
}

.if__list-small .if__item:last-child {
	width: 100%;
	margin-bottom: 0
}

.if__item {
	box-sizing: border-box;
	padding: 20px 8px 18px;
	font-size: 11px;
	line-height: 16px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .1)
}

.if__item::before {
	content: "";
	display: block;
	width: 70px;
	height: 70px;
	margin: 0 auto 18px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 50%
}

.if__item--big {
	margin: 0 0 20px;
	padding: 20px 28px 16px;
	font-size: 13px;
	line-height: 18px
}

.if__item--big::before {
	width: 100px;
	height: 100px;
	margin: 0 auto 20px
}

.if__item--1::before {
	background-image: url(../img/if/slide-1.png)
}

.if__item--2::before {
	background-image: url(../img/if/slide-2.png)
}

.if__item--3::before {
	background-image: url(../img/if/slide-3.png)
}

.if__item--4::before {
	background-image: url(../img/if/slide-4.png)
}

.if__item--5::before {
	background-image: url(../img/if/slide-5.png)
}

.if__item--6::before {
	background-image: url(../img/if/slide-6.png)
}

.if__item--7::before {
	background-image: url(../img/if/slide-7.png)
}

.if__item--8::before {
	background-image: url(../img/if/slide-8.png)
}

.if__button {
	display: block;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0 auto
}

.program__wrap {
	padding-bottom: 80px
}

.program__content {
	position: relative;
	padding: 10px;
	color: var(--text);
	background-color: var(--body);
	border-radius: 30px
}

.program__content p {
	margin: 0 0 14px;
	font-size: 13px;
	line-height: 18px
}

.program__content .timer {
	margin: 0 auto 18px;
	padding: 18px 26px;
	border-radius: 30px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .1)
}

.program__content .timer__title {
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 22px
}

.program__content .timer__items {
	margin-bottom: 14px;
	font-size: 40px;
	letter-spacing: -3px
}

.program__content .timer__item {
	min-width: 52px;
	letter-spacing: -2px
}

.program__content .timer__end {
	font-size: 13px;
	line-height: 22px
}

.program__list {
	margin: 0 0 20px;
	padding: 0;
	list-style-type: none
}

.program__item {
	padding-left: 24px;
	font-size: 13px;
	line-height: 18px;
	background-image: url(../img/checkmark.svg);
	background-repeat: no-repeat;
	background-size: 16px auto
}

.program__item:not(:last-child) {
	margin-bottom: 12px
}

.program__button {
	margin-bottom: 12px
}

.result .swiper-container,
.review .swiper-container {
	width: 265px
}

.result__list {
	margin: 0;
	padding: 0;
	list-style-type: none
}

.result__item {
	width: 265px;
	padding: 10px;
	box-sizing: border-box;
	background-color: var(--bright-dark);
	border-radius: 30px;
	text-align: center
}

.result__item img {
	display: block;
	max-width: none;
	margin: -10px -10px 0;
	border-radius: 30px
}

.review {
	position: relative;
	z-index: 1;
	padding-right: 20px;
	padding-left: 20px
}

.review::after,
.review::before {
	content: "";
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translateX(-50%)
}

.review::before {
	width: calc(100% - 20px);
	max-width: 1200px;
	height: 100%;
	background-color: rgba(250, 250, 250, .9);
	border-radius: 38px 38px 15% 15%;
	box-shadow: 0 0 50px rgba(0, 0, 0, .01)
}

.review::after {
	width: 100vw;
	height: calc(100% + 20px);
	background-image: linear-gradient(to bottom, transparent, #fff, #fff);
	box-shadow: 0 50px 50px #fff
}

.review__wrap {
	z-index: 1;
	padding-right: 0;
	padding-left: 0;
	background-color: #fff;
	border-radius: 28px
}

.review__heading {
	margin-top: 2px;
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 24px;
	color: var(--bright)
}

.review__list {
	margin: 0 0 30px;
	padding: 0;
	list-style-type: none
}

.review__sub-heading {
	margin: 0 0 30px;
	font-size: 14px;
	line-height: 20px;
	text-align: center
}

.review__item img {
	border-radius: 20px 0 20px
}

.review__item p {
	margin-bottom: 0;
	font-size: 13px;
	line-height: 20px
}

.review__user {
	position: relative
}

.review__name-user {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2px 8px;
	color: var(--body);
	background-color: var(--bright)
}

.review__button {
	display: block;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin-right: auto;
	margin-left: auto
}

.form {
	position: relative;
	z-index: 1
}

.form__text {
	max-width: 495px;
	margin: 0-10px 5px;
	padding: 10px;
	font-weight: 500;
	font-size: 11px;
	line-height: 16px;
	text-transform: uppercase;
	background-color: var(--light-text);
	border-radius: 9px
}

.form__title {
	position: relative;
	margin: 0 0 22px;
	font-weight: 900;
	font-size: 40px;
	line-height: 1;
	color: var(--bright);
	text-transform: uppercase;
	text-shadow: 1px 0 0 var(--bright-light), 0 2px 0 var(--bright-light);
	max-width: 836px
}

.form__title::before {
	content: "«";
	position: absolute;
	left: -30px;
	color: rgba(0, 0, 0, .15);
	text-shadow: none
}

.form__title::after {
	content: "»";
	color: rgba(0, 0, 0, .15);
	text-shadow: none
}

.form__content {
	box-sizing: border-box;
	max-width: 320px;
	margin-right: -10px;
	margin-left: -10px;
	padding: 10px;
	background-color: #fff;
	border-radius: 32px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .1)
}

.form__content .timer {
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	padding: 18px 30px 16px;
	border-radius: 28px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .1)
}

.form__content .timer__title {
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 22px
}

.form__content .timer__items {
	margin-bottom: 14px;
	font-size: 42px;
	line-height: 18px;
	letter-spacing: -5px
}

.form__content .timer__item {
	min-width: 57px
}

.form__content .timer__end {
	font-size: 13px;
	line-height: 22px
}

.form__content form {
	padding: 0 10px
}

.form__label {
	position: relative;
	display: block
}

.form__label span {
	position: absolute;
	top: 50%;
	left: 6px;
	z-index: -1;
	font: 10px;
	font-weight: 700;
	font-size: 10px;
	line-height: 20px;
	color: transparent;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: transparent;
	transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function)
}

.form__control {
	box-sizing: border-box;
	width: 100%;
	height: 52px;
	margin-bottom: 18px;
	padding: 18px 20px;
	font-size: 16px;
	line-height: 1;
	font-family: inherit;
	color: inherit;
	background-color: #fff;
	border: 2px solid #e5e5e5;
	border-radius: 6px;
	outline: 0;
	transition: border var(--transition-duration) var(--transition-timing-function);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.form__control:focus {
	border-color: var(--text)
}

.form__control:focus+span {
	top: -10px;
	z-index: 0;
	padding: 0 5px;
	color: #6e9e4d;
	background-color: #fff
}

.form__control:focus::-moz-placeholder {
	color: transparent
}

.form__control:focus::placeholder {
	color: transparent
}

.form__control:not(:-moz-placeholder-shown):not(:focus) {
	border-color: #6e9e4d
}

.form__control:not(:placeholder-shown):not(:focus) {
	border-color: #6e9e4d
}

.form__control:not(:-moz-placeholder-shown):not(:focus)+span {
	top: -10px;
	z-index: 0;
	padding: 0 5px;
	color: #6e9e4d;
	background-color: #fff
}

.form__control:not(:placeholder-shown):not(:focus)+span {
	top: -10px;
	z-index: 0;
	padding: 0 5px;
	color: #6e9e4d;
	background-color: #fff
}

.form__control:invalid {
	color: tomato;
	border-color: tomato
}

.form__control:invalid+span {
	color: tomato
}

.form__button-wrap,
.form__notes {
	text-align: center
}

.form__notes {
	font-size: 9px;
	line-height: 20px
}

.form__notes img {
	margin-top: 6px
}

@media (min-width:340px) {
	.form__content {
		margin-right: auto;
		margin-left: auto
	}
}

@media (min-width:395px) {
	.hero__button::after {
		top: -25px;
		right: -85px;
		width: 63px;
		height: 80px;
		transform: scale(-1, 1) rotate(-50deg)
	}
}

@media (min-width:490px) {
	.gift__article {
		min-height: 290px;
	}

	.gift__title {
		font-size: 26px;
		line-height: 34px;
	}

	.if__list-small .if__item {
		width: calc(33.33% - 10px)
	}

	.if__list-small .if__item:nth-last-child(-n+2) {
		width: calc(50% - 10px);
		margin-bottom: 0
	}
}

@media (min-width:576px) {
	.logo__link img {
		width: 186px;
		height: 61px
	}

	.timer__title {
		font-size: 13px
	}

	.timer__items {
		font-size: 46px;
		line-height: 40px
	}

	.timer__item {
		min-width: 61px
	}

	.timer__end {
		font-size: 13px
	}

	.hero__text {
		font-size: 14px;
		line-height: 20px
	}

	.program__content {
		padding-right: 20px;
		padding-left: 20px
	}

	.review__heading {
		font-size: 22px;
		line-height: 30px
	}

	.form__text {
		font-size: 14px;
		line-height: 20px
	}
}

@media (min-width:640px) {

	.result .swiper-container,
	.review .swiper-container {
		width: 550px
	}
}

@media (min-width:700px) {
	.if__list-big .if__item {
		width: calc(50% - 10px)
	}
}

@media (min-width:768px) {
	[class$=__wrap] {
		padding-right: 40px;
		padding-left: 40px
	}

	.header__wrap {
		min-height: calc(120px - 44px);
		padding-top: 22px;
		padding-bottom: 22px
	}

	.logo::after {
		content: url(../img/header/alina.png);
		position: absolute;
		bottom: -4px;
		left: 205px;
		display: block
	}

	.hero__title {
		font-size: 100px;
		line-height: 90px
	}

	.hero__title::before {
		left: -40px;
		font-size: 64px
	}

	.hero__title::after {
		font-size: 64px
	}

	.hero__subtitle {
		box-sizing: border-box;
		max-width: 550px;
		font-size: 16px;
		line-height: 24px
	}

	.hero__button {
		margin-top: 35px
	}

	.gift {
		margin-top: 0;
		padding-right: 0;
		padding-left: 0
	}

	.gift__wrap {
		padding-top: 56px;
		border-width: 40px;
		border-radius: 55px
	}

	.about__text {
		margin-left: 0
	}

	.about__text::before {
		position: absolute;
		top: 0;
		right: 0;
		transform: translateX(100%)
	}

	.about__text p:nth-child(odd) {
		margin-right: 0
	}

	.program__content {
		padding-left: 356px
	}

	.program__content::before {
		content: url(../img/program/alina@desktop.png);
		position: absolute;
		top: -78px;
		left: -70px
	}

	.form__wrap::after {
		content: url(../img/form/alina@desktop.png);
		position: absolute;
		right: -290px;
		bottom: 0;
		z-index: -1;
		pointer-events: none
	}

	.form__title {
		line-height: 60px
	}

	.form__title::before {
		left: -40px;
		font-size: 64px
	}

	.form__title,
	.form__title::after {
		font-size: 64px
	}

	.form__content {
		margin-left: -20px
	}

	.form__notes {
		font-size: 10px
	}
}

@media (min-width:800px) {
	.if__list-small .if__item {
		width: calc(100%/5 - 25px)
	}

	.if__list-small .if__item:nth-last-child(-n+2) {
		width: calc(100%/5 - 25px);
		margin-bottom: 20px
	}
}

@media (min-width:900px) {
	.if__list-big {
		display: grid;
		grid-template-columns: repeat(3, minmax(250px, 1fr));
		margin-bottom: 30px;
		gap: 30px
	}

	.if__list-big .if__item {
		width: 100%;
		margin: 0
	}
}

@media (min-width:960px) {

	.result .swiper-container,
	.review .swiper-container {
		width: 835px
	}
}

@media (min-width:990px) {
	[class$=__heading] {
		font-size: 40px;
		line-height: 50px
	}

	.wrap-bright-section {
		margin-bottom: -260px;
		padding-bottom: 360px
	}

	.header .timer {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}

	.hero {
		padding-bottom: 36px;
		overflow: visible
	}

	.hero__wrap {
		padding-top: 40px
	}

	.hero__wrap::after {
		position: absolute;
		top: -120px;
		left: calc(50% - 40px);
		z-index: -1;
		width: 1000px;
		height: 900px;
		background-image: url(../img/hero/alina@desktop.png)
	}

	.hero__text {
		max-width: 334px;
		margin-bottom: 28px
	}

	.about {
		padding-top: 118px
	}

	.about__text {
		padding-top: 130px;
		padding-bottom: 68px
	}

	.about__text::before {
		content: url(../img/about/alina@desktop.png)
	}

	.about__text p {
		padding: 30px 50px;
		font-size: 16px;
		line-height: 24px
	}

	.about__imgabout__img--slide-1 {
		width: 402px;
		height: 292px;
		background-image: url(../img/about/slide-1@desktop.png)
	}

	.about__imgabout__img--slide-2 {
		width: 264px;
		height: 320px;
		background-image: url(../img/about/slide-2@desktop.png)
	}

	.about__imgabout__img--slide-3 {
		width: 387px;
		height: 224px;
		background-image: url(../img/about/slide-3@desktop.png)
	}

	.if__list-small {
		margin-bottom: 60px
	}

	.if__item--1::before {
		background-image: url(../img/if/slide-1@desktop.png)
	}

	.if__item--2::before {
		background-image: url(../img/if/slide-2@desktop.png)
	}

	.if__item--3::before {
		background-image: url(../img/if/slide-3@desktop.png)
	}

	.program__content {
		margin-top: 90px;
		padding-bottom: 54px
	}

	.program__content p {
		font-size: 16px;
		line-height: 22px
	}

	.program__content .timer {
		margin-top: -90px;
		margin-left: 0;
		padding: 30px 40px;
		border-radius: 18px
	}

	.program__content .timer__title {
		margin-bottom: 14px;
		font-size: 16px;
		line-height: 22px
	}

	.program__content .timer__items {
		margin-bottom: 18px;
		font-size: 60px;
		letter-spacing: -5px
	}

	.program__content .timer__item {
		min-width: 78px
	}

	.program__content .timer__end {
		font-size: 16px;
		line-height: 22px
	}

	.program__list {
		margin-bottom: 24px
	}

	.program__item {
		min-height: 20px;
		margin-bottom: 14px;
		background-size: 20px auto
	}

	.program__button {
		margin-top: 30px;
		margin-bottom: 0
	}

	.review::after {
		background-image: linear-gradient(to bottom, transparent 20%, #fff 80%)
	}

	.review__wrap {
		max-width: 1120px;
		padding-right: 30px;
		padding-left: 30px
	}

	.review__heading {
		margin-top: 26px;
		font-size: 40px;
		line-height: 50px
	}

	.review__sub-heading {
		max-width: 800px;
		margin-right: auto;
		margin-bottom: 54px;
		margin-left: auto;
		font-size: 16px;
		line-height: 22px
	}

	.review__name-user {
		left: -10px
	}

	.form__text {
		max-width: 334px;
		margin-bottom: 28px
	}

	.form__title {
		margin-bottom: 50px
	}

	.form__content {
		max-width: 440px;
		margin-right: 0;
		margin-left: -20px;
		padding: 0 20px 20px;
		border-radius: 28px
	}

	.form__content .timer {
		position: relative;
		top: -20px;
		margin-bottom: 10px;
		padding: 24px 40px 22px
	}

	.form__content .timer__title {
		margin-bottom: 14px;
		font-size: 16px;
		line-height: 22px
	}

	.form__content .timer__items {
		margin-bottom: 20px;
		font-size: 62px;
		letter-spacing: -7px
	}

	.form__content .timer__item {
		min-width: 82px
	}

	.form__button,
	.form__content .timer__end {
		font-size: 16px;
		line-height: 22px
	}

	.form__content form {
		padding: 0
	}

	.form__button {
		line-height: 20px
	}
}

@media (min-width:990px) and (min-width:990px) {
	.program__item {
		font-size: 16px;
		line-height: 22px
	}
}

@media (min-width:1200px) {
	.gift__wrap::before {
		content: url(../img/gift/salmon@desktop.png);
	}

	.gift__article {
		min-height: 626px;
		padding-left: 590px;
		overflow: initial;
	}

	.gift__article::before {
		content: url(../img/gift/guide@desktop.png);
	}

	.gift__content {
		padding-left: 0;
	}

	.gift__content::after {
		content: url(../img/gift/fork@desktop.png);
		position: absolute;
		bottom: -5px;
		right: -40px;
	}

	.gift__title {
		order: initial;
		margin-top: 100px;
	}

	.result .swiper-container,
	.review .swiper-container {
		width: 100%
	}
}

@media (min-width:1201px) {
	.about__text {
		padding-left: 220px
	}

	.review__list {
		display: block !important;
		margin-bottom: 40px;
		-moz-columns: 3;
		columns: 3;
		transform: none !important
	}

	.review__item {
		width: 325px !important;
		margin-right: 0 !important;
		margin-bottom: 40px;
		-moz-column-break-inside: avoid;
		break-inside: avoid
	}

	.review__item:not(:nth-child(3n)) {
		margin-right: 42px !important
	}
}

@media (min-width:1240px) {
	.review::before {
		top: -40px;
		width: calc(100% - 40px)
	}
}

@media (max-width: 1200px) {
	.gift__button {
		padding: 10px 20px;
	}
}

@media (max-width:767px) {
	.program__content::after {
		content: url(../img/program/alina.png);
		display: block;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		margin: 0 auto -105px;
		transform: translateX(-40px)
	}

	.form__wrap {
		padding-top: 378px
	}

	.form__wrap::before {
		content: url(../img/form/alina.png);
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%)
	}
}

@media (max-width:700px) {
	.if__list-big {
		justify-content: center
	}

	.if__list-big .if__item {
		max-width: 320px
	}
}

@media (min-width:700px) and (max-width:900px) {
	.if__list-big .if__item:last-child {
		width: 50%;
		margin-right: auto;
		margin-left: auto
	}
}
